<div class="card" *ngFor="let dwarf of dwarves">
  <div class="card-body">
    <h5 class="card-title">{{dwarf.name}} the {{dwarf.occupation}}<button class="btn btn-danger" (click)="deleteDwarf(dwarf.id)">delete</button></h5>
    <p class="card-text">
      {{dwarf.id}}
      <br/> Height: {{dwarf.height}}
      <br/> Beard color: 
      <span [style.color]= "dwarf.beardColor"> {{dwarf.beardColor}}</span>
      <app-beard color = "{{dwarf.beardColor}}" height="25"></app-beard>
      <br/> Beard length: {{dwarf.beardLength}}
      <br/>Favorite drink:{{dwarf.favoriteDrink}}
      <br/>Clan: {{dwarf.clan}}
     

    </p>

  </div>
</div>